<h1>
  Home  
</h1>
<% if (!currentUser) { %>
  <a href="/login">Login</a>
  <br>
  <a href="/signup">Signup</a>
  <br> 
<% } else if (currentUser.role_id == 1 || currentUser.role_id == 2) { %>
  <h3>Hello, <%= currentUser.username %></h3>
  <a href="/users">Go to users</a>
  <br>
  <a href="/membership">Join Membership</a>
  <br>
  <a href="/posts/new">Create a post</a>
  <br>
  <a href="/logout">Log out</a>
  <br>
<% } else { %>
  <h3>Hello, <%= currentUser.username %></h3>
  <a href="/membership">Join Membership</a>
  <br>
  <a href="/posts/new">Create a post</a>
  <br>
  <a href="/logout">Log out</a>
<% } %>

<% if (!content.data.posts.length) { %>
  <p>
    No post for a while. Share yours.
  </p>
<% } else { %>
  <% content.data.posts.forEach(post => { %>
    <% console.log(post) %>
    <div class="card">
      <h3><%= post.title %></h3>
      <p><%= post.first_name %></p>
      <p>@ <%= post.username %></p>
      <p><%= post.message %></p>
    </div>    
  <% }) %>
<% } %>