<% const { users } = content.data; %>

<div class="section">
  <div class="container">
    <h1 class="title is-3">Manage Users</h1>

    <div class="table-container">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Posts</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
            <% const isSuperAdmin = (user.role_id === 1) ? true : false %>
            <% const isCurrentUserSuperAdmin = (currentUser.role_id === 1) ? true : false %>
            <% const isCurrentUser = (user.id == currentUser.id) ? true : false %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.full_name %></td>
              <td>@<%= user.username %></td>
              <td><%= user.email %></td>
              <td><%= user.post_count %></td>
              <td>
                <form action="/admin/users/<%= user.id %>/update-role?_method=PUT" method="POST" class="is-flex">
                  <div class="select is-small">
                    <select name="role_id" onchange="this.form.submit()" <%= isSuperAdmin ||isCurrentUser ? 'disabled' : '' %>>
                    <% if (isCurrentUserSuperAdmin) { %>
                        <option value="1" <%= user.role_id === 1 ? 'selected' : '' %>>Super Admin</option>
                        <option value="2" <%= user.role_id === 2 ? 'selected' : '' %>>Admin </option>
                        <option value="3" <%= user.role_id === 3 ? 'selected' : '' %>>Member</option>
                        <option value="4" <%= user.role_id === 4 ? 'selected' : '' %>>Guest </option>
                      <% } else { %>
                        <option value="2" <%= user.role_id === 2 ? 'selected' : '' %>>Admin </option>
                        <option value="3" <%= user.role_id === 3 ? 'selected' : '' %>>Member</option>
                        <option value="4" <%= user.role_id === 4 ? 'selected' : '' %>>Guest </option>
                      <% } %>
                    </select> 
                    
                  </div>
                </form>
              </td>
              <td>
                <form action="/admin/users/<%= user.id %>/toggle-active?_method=PUT" method="POST" class="is-inline-block">
                  <input type="hidden" name="isDeactivated" value="<%= user.deactivated ? false : true %>">
                  <button 
                    class="button is-small 
                    <%= user.deactivated ? 'is-success': 'is-danger' %> " 
                    <%= isSuperAdmin || isCurrentUser ? 'disabled' : '' %>
                    type="submit">
                    <%= user.deactivated ? 'Activate' : 'Deactivate' %>
                  </button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>