<div class="card">
  <h3><%= content.data.post.title %></h3>
  <p><%= content.data.post.first_name %></p>
  <p>@ <%= content.data.post.username %></p>
  <p><%= content.data.post.message %></p>
  <% if (currentUser && currentUser.admin) { %>
    <button data-id="<%= content.data.post.id %>">Delete</button>
  <% } %>
</div>